html {
	font-size: 10px;
	line-height: 1.2;	
}

body {
	font-family: Montserrat, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

button,
input {
	border: none;
	outline: none;
	cursor: pointer;
}

a {
	color: inherit;
}

.container {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column-sm {
	display: flex;
	flex-direction: column;
}

.row {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.col-4,
.col-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.visible-sm,
.visible-md,
.visible-lg {
	display: none;
}

section {
	padding: 3rem 0;
	text-align: center;
}
.section-title {
	font-size: 2.2rem;
}
.section-subtitle {
	font-size: 1.4rem;
	margin-bottom: 4rem;
}

.btn_yellow {
	background-color: #f7b516;
}

.form__input {
	width: 280px;
	margin-bottom: 1.6rem;
	padding: 1.4rem;
	color: #818181;
	background-color: #f2f2f2;
}
.form__btn {
	width: 200px;
	margin-top: 1rem;
	padding: 1.2rem;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #1866af;
}

.header {
	background-color: #191919;
	color: #ffffff;
	height: 90px;
	padding-top: 20px;
	font-weight: 700;
}
.header-time {
	text-align: center;
	font-size: 12px;
	line-height: 1.8;
}
.header-contact {
	display: flex;
}
.header-contact__phone {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	font-size: 1.2rem;
}
.header-contact__btn {
	background-color: #1669b3;
	padding: 0.6rem 1rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}

.main {
	position: relative;
	width: 100%;
	background: #f7b516 url('../img/main-bg.jpg') center no-repeat;
	background-size: cover;
}
.main::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #000;
	opacity: .5;
}
.main-content {
	position: relative;
	padding: 2rem 1rem;
	z-index: 1;
	color: #fff;
}
.main-title {
	margin: 0;
	font-size: 2.4rem;
	text-transform: uppercase;
}
.main-subtitle {
	font-size: 1.4rem;
	font-weight: 700;
	margin-top: 1.8rem;
	margin-bottom: 4rem;
}
.main-features {
	font-size: 1.2rem;
	line-height: 1.4;
}
.main-features-item {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}
.main-features-icon {
	margin-right: 1.6rem;
	font-size: 2rem;
}

.price {
	text-align: center;
}
.price-title {
	margin: 3rem auto;
	font-size: 1.8rem;
}
.price-form {
	display: flex;
	flex-direction: column;
}
.price-form__inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.price-form__descr {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
}

.features {	
	text-align: center;
	background-color: #08243e;
	color: #ffffff;
	font-size: 1.4rem;
}

.detail {
	color: #fff;
	background-color: #123150;
}
.detail-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3rem;
}
.detail__number {
	font-size: 1.4rem;
}

.warranty-item__descr {
	max-width: 80%;
	margin: 1.6rem auto;
	font-size: 1.4rem;
}
.warranty-item__more {
	font-size: 1.2rem;
	color: #000;	
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
}

.bonus {
	background-color: #08243e;
	color: #fff;
}
.bonus-item__img {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: 700;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: transparent;
}
.bonus-item__descr {
	max-width: 60%;
	font-size: 1.4rem;
}

.footer {
	min-height: 90px;
	padding: 20px 0 20px 0;
	background-color: #191919;
	color: #ffffff;
}
.footer-logo,
.footer-copyright {
	margin-bottom: 2rem;
}
.footer-copyright {
	font-size: 1.2rem;
}
.footer-phone {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.footer-phone__number {
	font-size: 1.4rem;
}


@media (min-width: 576px) {
	html {
		font-size: 12px;
	}

	.container {
		max-width: 540px;
	}

	.row {
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}

	.col-4 {
		width: 45%;
	}
	.col-3 {
		margin: 2rem auto;
	}

	.xs-only {
		display: none;
	}
	.visible-sm {
		display: block;
	}

	.features__img {
		min-height: 100px;
	}

	.form__input {
		width: 360px;
	}

	.bonus-item__descr {
		max-width: 90%;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 14px;
	}

	.container {
		max-width: 720px;
	}

	.flex-column-sm {
		flex-direction: row;
	}

	.col-3 {
		width: 50%;
	}

	.hidden-md {
		display: none;	
	}
	.visible-md {
		display: block;
	}
	
	.warranty-item__descr {
		max-width: 90%;
		font-size: 1.2rem;
	}

	.bonus-item__descr {
		max-width: 100%;
		font-size: 1.2rem;
	}

	.footer-logo,
	.footer-copyright {
		margin-bottom: 0;
	}
	.footer-copyright {
		font-size: 1rem;
	}
	
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}

	.container {
		max-width: 960px;
	}

	.col-3 {
		width: 33%;
	}
	
	.hidden-lg {
		display: none;
	}
	.visible-lg {
		display: block;
	}

	.form__input,
	.form__btn {
		width: 360px;
		margin: 0;
		margin-left: 2rem;
	}

	.header-logo {
		width: 30%;
	}

	.main:after {
		z-index: -1;
	}
	.main-content {
		width: 540px;
		padding: 4rem 3rem;
		background-color: #f7b516;
		color: #000;
	}

	.price {
		background: url('../img/price-bg.jpg') center no-repeat;
		background-size: cover;
		text-align: right;
	}
	.price-form__inputs,
	.price-form__descr {
		flex-direction: row;
		justify-content: flex-end;
	}
	.price-form__descr {
		margin-top: 2rem;
	}
	.price-form__descr span {
		margin-right: 2rem;
	}

	.features {
		font-size: 1.2rem;
	}

	.detail {
		background: url('../img/detail-bg.jpg') center no-repeat;
		background-size: cover;
	}
	.detail-form {
		flex-direction: row;
		align-items: center;
	}

	.warranty-item__descr {
		max-width: 100%;
		font-size: 1rem;
	}

}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
	
	.col-4 {
		width: 25%;
	}
}